{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  А это мой 
  <a href='https://github.com/NColemann/' target='_blank'>GitHub</a>
  <br>
  <br>
  Если хотите увидеть мое резюме,<br>
  То можете зайти в мои профиль  
  <a href='https://www.linkedin.com/in/kalimanov/' target='_blank'>linkedin</a>
  или 
  <a href='https://career.habr.com/ncolman/' target='_blank'>Хабр Карьера</a>
  <br>
  <br>
  Для связи со мной можно писать в 
  <a href='https://t.me/Colemann/' target='_blank'>телегу</a>
  или на почту n.kalimanov@yandex.ru
  <br>
  Ну и на последок мой 
  <a href='https://www.instagram.com/n.colemann/' target='_blank'>instagram</a>
</p>
{% endblock %}